-e git+https://github.com/geo-engine/geoengine-python.git@204bf031fc375fdf1ae47d95b025a9233511d038#egg=geoengine
altair==5.3.0
geoengine_openapi_client==0.0.18
geopandas==0.14.3
matplotlib==3.7.5
nest_asyncio==1.6.0
numpy==1.26.4
pandas==1.5.3
scikit_learn==1.4.2
xarray==2024.2.0
