name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v4

      - name: Setup mdBook
        uses: peaceiris/actions-mdbook@v1
        with:
          mdbook-version: "0.4.37"

      - name: Install dependencies
        run: |
          pip install -r requirements.txt

      - name: Build
        run: mdbook build

      - name: Run tests
        run: mdbook test

  examples:
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.8" # minimum supported version
      - name: Install dependencies
        run: |
          pip install -r requirements.txt
          pip install -r example-requirements.txt
      - name: Run examples
        run: |
          for notebook in src/examples/*.ipynb; do
            python3 test_notebook.py $notebook
          done
